body{
    margin: 0;
}

/* eine id wird mit einer raute geschrieben, also #wrapper */

#wrapper{

    background-color: cornsilk;
    height: 600px;
    width: 960px;
    margin: 0px auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
}


#kopfbereich{

    width: 100%;
    height: 200px;
    background-color: coral;

}

#hauptNavigation{

    height: 100px;
    background-color: white;


}

#content{

    width: 960px;
    height: 400px;
    background-color: yellow;

}

footer{

    width: 100%;
    height: 200px;
    background-color: darksalmon;


}